!!!5
html
    head
        title= 'video'
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, target-densitydpi=medium-dpi')         
        script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.min.js')
        script(type='text/javascript', src='/js/socket.io.js')        
    body        
        div
            img#outPutImg
        script(type='text/javascript', src='/js/client.js')